{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/Edit.css' %}">
</head>

<body>
    <div class="nav">
        <img class="logo" src="{% static 'images/result1.png' %}" alt="" class="header" id="school" onclick="transfer()">
        <div class="buttons">
            <ul>
                <li><a class="nav-link" href="AdminHome.html">Home</a></li>
                <li><a class="nav-link" href="AddTask (1).html">Add Task</a></li>
                <li><a class="nav-link" href="profileSettings.html">Profile Settings</a></li>
                <li><a class="log-link" id="logoutbtn" href="school.html" onclick="logout()">Log Out</a></li>
            </ul>
        </div>
    </div>

    <form method="POST" >


    <div class="frame">
        <header>
            <h2>Edit Task</h2>
            <hr style="color: rgb(149, 147, 147);">
        </header>
        <br>

        <div id="edit" class="edits">
            <div>
                <label>Task ID</label>
                <input type="text" id="taskid" class="input-field" value="{{ task.Taskiid }}">
                <p class="error Taskid-error"></p>
            </div>
            <br>
            <div>
                <label>Task Title</label>
                <input type="text" id="tasktitle" class="input-field" value="{{ task.title }}">
                <p class="error title-error"></p>
            </div>
            <br>
            <div>
                <label>Teacher Name</label>
                <input type="text" id="teachername" class="input-field" value="{{ task.teacher }}">
                <p class="error TName-error"></p>
            </div>
            <br>
            <select id="pri" required>
                <option value="" disabled>Priority</option>
                <option value="High" {% if task.choose == "High" %} selected {% endif %}>High</option>
                <option value="Medium" {% if task.choose == "Medium" %} selected {% endif %}>Medium</option>
                <option value="Low" {% if task.choose == "Low" %} selected {% endif %}>Low</option>
            </select>
            <br>
            <div>
                <label>Description</label>
                <input type="text" id="description" class="input-field describe" value="{{ task.Description }}">
                <p class="error des-error"></p>
            </div>
            <br>
            <div>
                <label>Created By</label>
                <input type="text" id="createdby" class="input-field" placeholder="logged-in admin" value="{{ task.admin }}">
                <p class="error admin-error"></p>
            </div>
            <br>
        </div>

        <div>
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit" class="button" id="submitbtn">Save</button>
            <input type="reset" value="Reset" class="button" id="resetbtn">
        </div>
        <div>
            <img class="imgOne" src="{% static 'images/undraw_next_tasks_re_5eyy.svg' %}" alt="">
            <img class="imgTwo" src="{% static 'images/undraw_filing_system_re_56h6.svg' %}" alt="">
        </div>
    </div>
        <script src="{% static 'js/Edit.js' %}"></script>
    </form>

</body>
</html>